@import "./variables.scss";
@import "../vendor/reset.scss";
@import "../mixins/breakpoints.scss";

@import "./typo.scss";
@import "../views/about.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $color-pure-white;
}
