/* Headers */
@mixin h1() {
  font-size: $f-xlr;
  font-weight: $weight-regular;
  color: $color-white;
  line-height: $m-xl;
  letter-spacing: -1.92px;

  span {
    color: $color-pure-white;
    font-weight: $weight-semibold;
  }
  @include respond-to("medium") {
    font-size: $f-xxl;
    line-height: $m-xl;
  }
}

@mixin h2($one-line: false) {
  font-size: $f-xl;
  letter-spacing: -1.92px;
  line-height: $m-slg;
  color: $color-black;
  font-weight: $weight-medium;

  @if $one-line == false {
    &::first-line {
      color: rgba($color-secondary, 0.6);
    }
  }

  @include respond-to("medium") {
    font-size: $f-xxl;
    line-height: $m-xl;
  }
  @include respond-to("large") {
    font-size: $f-xxxl;
    line-height: $m-xlr;
    letter-spacing: -2.88px;
  }
}
@mixin h3() {
  font-weight: $weight-medium;
  color: $color-secondary;
  font-size: $f-slg;
  letter-spacing: -0.96px;
  line-height: 38px;

  @include respond-to("medium") {
    font-size: $f-slg;
    letter-spacing: -1.28px;
    line-height: $m-slg;
  }
}

/* Paragraphs */
@mixin body-large {
  font-size: $f-sm;
  font-weight: $weight-regular;
  line-height: $m-base;
  letter-spacing: -0.28px;

  @include respond-to("medium") {
    font-size: $f-base;
    line-height: $m-lg;
  }
}

@mixin body-base() {
  font-size: $f-base;
  font-weight: $weight-regular;
  line-height: $m-base;
  letter-spacing: -0.32px;
}

@mixin body-small() {
  font-size: $f-sm;
  font-weight: $weight-regular;
  line-height: $m-base;
  letter-spacing: -0.28px;
}

/* Kickers */
@mixin kicker() {
  font-size: $f-xs;
  letter-spacing: 0.72px;
  font-weight: $weight-medium;
  text-transform: uppercase;
  line-height: $m-base;
  color: $color-black;
  opacity: 0.8;

  @include respond-to("medium") {
    font-size: $f-sm;
    letter-spacing: 0.72px;
  }
  @include respond-to("large") {
    font-size: $f-base;
    letter-spacing: 0.84px;
  }
}
