.about-section {
  &__kicker {
    @include kicker;
  }
  &__h2 {
    @include h2;
  }

  @include respond-to("small") {
    background-color: $color-pure-white;
    padding: 120px 0 $m-xxl;
    margin: auto;

    &__text-content {
      margin: $m-xxl $m-base $m-xl;
    }

    &__body-base {
      color: $color-black;
      opacity: 0.8;
    }
  }

  @include respond-to("medium") {
    background-color: $color-pure-white;
    padding: 120px 340px $m-xxl;
    margin: auto;
  }

  @include respond-to("large") {
    background-color: $color-pure-white;
    padding: 120px 340px $m-xxl;
    margin: auto;

    &__text-content {
      display: flex;
      justify-content: space-between;
      margin-bottom: $m-xxl;
    }

    &__body-base {
      width: 720px;
    }

    &__iframe {
      border-radius: $m-xs;
    }
  }
}
