@import 'reset';
@import 'header';
@import 'variables';
@import 'typo';
@import 'about';
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $color-pure-white;
}
