/* Brand Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
$font-main: 'Inter', sans-serif;


/* Brand Colors */
$color-primary: #B31C0F;
$color-secondary: #1E2019;

/* Neutral Colors */
$color-black: #121212;
$color-pure-white: #ffffff;
$color-white: #EBEBEB;
$color-grey: #F4F4F4;
