.hero-section {
  background-image: url("../../assets/images/hero_image_resized.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 33%;
  padding: $m-base;
  color: $color-white;

  &__text-content {
    margin: $m-xxl 0;
  }

  &__kicker {
    @include kicker;
    margin-bottom: $m-sm;
  }

  &__h1 {
    @include h1;
    margin-bottom: $m-lg;
  }
  &__body-large {
    @include body-large;
    margin-bottom: $m-lg;
  }

  &__list {
    display: none;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: $m-sm;
  }
  @include respond-to("medium") {
    padding: $m-slg;

    &__body-large {
      margin-bottom: $m-base;
    }

    &__list {
      @include body-small;
      color: $color-white;
      display: block;
      margin-bottom: $m-lg;

      li::before {
        content: " ";
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: $m-xs;
        background-color: $color-primary;
        border-radius: 50%;
      }

      li {
        margin-bottom: $m-xs;
      }
    }

    &__cta {
      flex-direction: row;
      gap: $m-sm;
    }
  }
  @include respond-to("large") {
    padding: 120px 340px 120;

    &__text-content {
      max-width: 720px;
    }

    &__body-large {
      margin-bottom: $m-lg;
    }
  }
}
