.info-section {
  background-color: $color-pure-white;
  padding: $m-xxl 0 $m-xxl;
  margin: auto;

  &__kicker {
    @include kicker;
    margin-bottom: $m-sm;
  }
  &__h2 {
    @include h2();
    margin-bottom: $m-lg;
  }

  &__body-base {
    @include body-base;
  }

  &__text-content {
    margin: 0 $m-base $m-xl;
  }

  &__body-base {
    color: $color-black;
    opacity: 0.8;
  }

  &__article-wrapper {
    display: flex;
    flex-direction: column;
  }
  @include respond-to("medium") {
    &__text-content {
      margin: $m-xl $m-slg $m-xl;
    }
    &__article-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      gap: $m-base;
      justify-content: space-between;
      padding: 0 $m-slg;
    }
  }
  @include respond-to("large") {
    &__text-content {
      margin: $m-xl 0 $m-xl;
    }
    padding: $m-xxl 340px $m-xxxl;
    text-align: center;
    &__article-wrapper {
      flex-wrap: nowrap;
      padding: 0;
    }
  }
}
